# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
dist-web-new/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

.vercel
.env*.local

# firebase service account (do not commit secrets)
appointmentprocess-90a2e-firebase-adminsdk-fbsvc-2c333083b0.json

.testsprite_tests
.vercel
.env*.local

.txt

.vercel
.env*.local
